@model IEnumerable<MyRecipe.Data.Entities.Recipe>

@{
    ViewData["Title"] = "Admin Portal";
}

<h1>Admin portal</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy.UserName)
            </td>
            <td>                
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                
            </td>
        </tr>
}
    </tbody>
</table>
